@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap");
:root {
  --main-color: #ff2500;
  --color-shadow: #ff361496;
}
::selection {
  background-color: var(--main-color);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #ff250096;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
* {
  font-family: "Poppins", sans-serif !important;
}
body {
  margin: 0;
}
.shadow {
  box-shadow: 0 0.5rem 1rem var(--color-shadow) !important;
}
nav a {
  font-family: "Sansita Swashed", system-ui !important;
}
footer {
  background-color: var(--main-color);
}
footer span {
  color: var(--btn-hover);
}
.correct {
  background-color: #ff250052;
}
.wrong {
  background-color: #5e0000;
  border-radius: 50%;
}
